<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<th:block th:replace="~{layout/main::page(title='app.profile',appMain=~{::main})}">
    <!--/*@thymesVar id="profileTo" type="ru.javaops.startup.user.to.ProfileTo"*/-->
    <!--/*@thymesVar id="contacts" type="java.util.List<ru.javaops.startup.ref.to.RefTo>"*/-->
    <main>
        <div class="card" th:object="${profileTo}">
            <!--   https://www.thymeleaf.org/doc/tutorials/3.1/thymeleafspring.html#validation-and-error-messages  -->
            <form action="/ui/auth/profile" method="post">
                <div class="card-header px-4">
                    <h4 th:text="#{app.profile}"/>
                </div>
                <div class="card-body px-4">
                    <div class="mb-3 row">
                        <div class="col-md-2">
                            <label for="email" class="col-form-label" th:text="#{app.email}"/>
                        </div>
                        <div class="col-md-5 col-10">
                            <input class="form-control" id="email" th:field="*{email}" readonly>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-2">
                            <label for="firstName" class="col-form-label" th:text="#{app.firstName}"/>
                        </div>
                        <div class="col-md-5 col-10">
                            <input type="text" maxlength="32" class="form-control" id="firstName" th:field="*{firstName}"
                                   th:errorclass="is-invalid" th:classappend="${saved}? 'is-valid':''">
                            <div class="invalid-feedback" th:errors="*{firstName}"></div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-2">
                            <label for="lastName" class="col-form-label" th:text="#{app.lastName}"/>
                        </div>
                        <div class="col-md-5 col-10">
                            <input type="text" maxlength="32" class="form-control" id="lastName" th:field="*{lastName}"
                                   th:errorclass="is-invalid" th:classappend="${saved} ? 'is-valid':''">
                            <div class="invalid-feedback" th:errors="*{lastName}"></div>
                        </div>
                    </div>
                </div>
                <div class="card-header px-4 border-top">
                    <h4 th:text="#{app.contacts}"/>
                </div>
                <div class="card-body px-4">
                    <table class="table table-striped">
                        <tbody>
                        <tr th:each="contact: ${contacts}" class="row">
                            <td class="col-md-2"><span th:text="#{${contact.code}}"/></td>
                            <td class="col-md-5 col-10">
                                <!-- https://stackoverflow.com/a/4511716/548473 -->
                                <input type="text" maxlength="32" class="form-control" th:field="*{contacts[__${contact.code}__]}"
                                       th:errorclass="is-invalid" th:classappend="${saved}? 'is-valid':''" th:readonly="${!contact.enabled}">
                                <div class="invalid-feedback" th:errors="*{contacts[__${contact.code}__]}"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-lg btn-outline-warning rounded" type="submit" th:text="#{app.save}"/>
                </div>
            </form>
            <!--            https://stackoverflow.com/a/20789795/548473 -->
            <form action="/ui/auth/profile/delete" method="post" class="ms-4 mb-3"
                  th:onsubmit="return confirm([[#{app.deleteAccountConfirm(*{email})}]])">
                <button class="btn btn-danger rounded ms-2" type="submit"><span th:text="#{app.deleteAccount}"/></button>
            </form>
        </div>
    </main>
</th:block>
</html>
