<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<th:block th:fragment="page" th:with="img=${img}?: '/static/img/title/startup.png', descr=${descr}?: ${title}">
    <!--/*@thymesVar id="authUser" type="ru.javaops.startup.app.oauth2.AuthUser"*/-->
    <!--/*@thymesVar id="appUser" type="ru.javaops.startup.app.AppUser"*/-->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" th:content="#{${title}}"/>
        <meta name="description" th:content="#{${descr}}"/>
        <title>[[#{${title}}]]</title>
        <link rel="shortcut icon" href="/static/img/logo.png"/>
        <link rel="apple-touch-icon" href="/static/img/logo.png">
        <link rel="image_src" th:href="${img}"/>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
        <!--        https://fontawesome.com/download        -->
        <link rel="stylesheet" href="/static/fontawesome/css/all.min.css"/>
        <link rel="stylesheet" href="/static/css/main.css?v=4"/>
        <meta name="keywords" th:content="#{${descr}}">
    </head>
    <body class="d-flex flex-column">
    <!--    https://getbootstrap.com/docs/5.3/examples/headers/    -->
    <nav class="pt-1 border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item me-2 pt-1">
                    <a href="/"><img src="/static/img/logo.png"></a>
                </li>
                <li class="nav-item"><a href="https://javaops-demo.ru/basejava" class="nav-link link-warning">BaseJava Demo</a></li>
                <li class="nav-item"><a href="https://javaops-demo.ru/topjava" class="ps-0 nav-link link-warning">TopJava Demo</a></li>
            </ul>
            <ul class="nav">
                <li th:if="${authUser==null && appUser==null}" class="nav-item"><a class="btn btn-outline-warning" href="/ui/auth/profile">
                    <span class="fa fa-sign-in"></span></a>
                </li>
                <th:block th:if="${authUser!=null || appUser!=null}">
                    <li th:if="${authUser!=null}" class="nav-item pb-1">
                        <a th:if="${authUser.user.avatarUrl==null}" class="btn btn-outline-warning me-2" href="/ui/auth/profile">
                            <span class="fa fa-user"></span>
                        </a>
                        <a th:if="${authUser.user.avatarUrl!=null}" href="/ui/auth/profile" class="me-2">
                            <img th:src="${authUser.user.avatarUrl}" style="border-radius: 50%; height: 42px"/>
                        </a>
                    </li>
                    <li th:if="${appUser!=null}" class="nav-item pb-1">
                        <a class="btn btn-outline-warning me-2" href="/api/admin"><span class="fa fa-user-gear"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-warning" href="/view/logout"><span class="fa fa-sign-out"></span></a>
                    </li>
                </th:block>
                <li class="nav-item">
                    <div class="dropdown">
                        <!--   https://stackoverflow.com/a/65526072/548473
                               https://www.thymeleaf.org/apidocs/thymeleaf/3.0.0.RELEASE/index.html?org/thymeleaf/expression/Strings.html
                        -->
                        <a class="dropdown-toggle nav-link link-dark pt-1 ps-3 pe-0" data-bs-toggle="dropdown"
                           th:text="${#strings.capitalize(#locale.language)}"></a>
                        <ul class="dropdown-menu text-small" style="min-width: 60px">
                            <li><a class="dropdown-item" th:href="@{?lang=en}">En</a></li>
                            <li><a class="dropdown-item" th:href="@{?lang=ru}">Ru</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            <th:block th:insert="${appMain}"/>
        </div>
    </main>

    <footer class="footer mt-auto py-2">
        <div class="container">
            <div th:utext="#{app.footer}"></div>
            <div class="row">
                <div class="col-6 my-2">
                    <span th:text="#{app.contacts}"/>:
                    <a href="https://t.me/gkislin" class="m-1">
                        <i class="fa-brands fa-telegram fa-lg"></i>
                    </a>
                    <a href="https://wa.me/79218550482" class="m-1">
                        <i class="fa-brands fa-whatsapp fa-lg"></i>
                    </a>
                    <a href="skype:grigory.kislin?chat" class="m-1">
                        <i class="fa-brands fa-skype fa-lg"></i>
                    </a>
                    <a href="https://vk.com/grigory.kislin" class="m-1">
                        <i class="fa-brands fa-vk fa-lg"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCMiuo1BSwQxRMl6781evABw/videos" class="m-1">
                        <i class="fa-brands fa-youtube fa-lg"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/gkislin" class="m-1">
                        <i class="fa-brands fa-linkedin fa-lg"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/gkislin" class="m-1">
                        <i class="fa-brands fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://stackoverflow.com/users/548473" class="m-1">
                        <i class="fa-brands fa-stack-overflow fa-lg"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/gkislin" class="m-1">
                        <i class="fa-brands fa-hab fa-lg"></i>
                    </a>
                </div>
                <div class="col-6 my-2 text-end">
                    <!--  https://yandex.ru/dev/share  -->
                    <style>
                        /* https://lospirata.ru/blog/webdev/blok-podelitsya-ot-yandeks-nestandartnaya-nastrojka/ */
                        .ya-share2__list::before {
                            content: '[[#{app.share}]] \203A ';
                            position: relative;
                            top: 5px;
                            font-size: 16px;
                            margin-right: 6px;
                            color: var(--c4);
                        }
                    </style>
                    <script src="https://yastatic.net/share2/share.js"></script>
                    <div class="ya-share2" data-curtain data-shape="round" data-color-scheme="whiteblack"
                         data-services="vkontakte,telegram,whatsapp,skype,linkedin"></div>
                </div>
            </div>
        </div>
    </footer>
    </body>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
</th:block>
</html>