<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<th:block th:replace="~{layout/main::page(title='app.title', appMain=~{::main}, descr='app.descr')}">
    <!--/*@thymesVar id="authUser" type="ru.javaops.startup.app.oauth2.AuthUser"*/-->
    <!--/*@thymesVar id="appUser" type="ru.javaops.startup.app.AppUser"*/-->
    <main>
        <div class="text-center">
            <h1 th:utext="#{app.welcome}"></h1>
            <img src="/static/img/title/startup.png" class="p-1 my-4 border rounded fit">
            <h4 th:if="${authUser==null && appUser==null}"><a href="/view/admin/queries" th:text="#{app.adminAPI}"></a></h4>
        </div>
    </main>
</th:block>
</html>